
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, <%= @user.name %></h1>
<p>
  The application you applied to had closed down, we wish you luck for next time.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining us and have a great day!</p>
</body>
</html>